
@{
    ViewBag.Title = "CompactSign";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head{
    <style>
        .bigestdiv {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .title {
            font-size:20px;
            float: left;
        }

    </style>
}
<div class="bigestdiv">
    <h1 align="center">委托检测合同</h1>
    <h1>委托方:@ViewBag.FirstParty</h1>
    <h1>检验方:@ViewBag.SecondParty</h1>

    <p class="title">@Html.Raw(ViewBag.Content)</p>
    @{

        if (ViewBag.user == 1)
        {
            <form class="">

                <h1>委托方: <input type="text" id="name"/>
                </h1>

                <h1>检验方:</h1>
            </form>
        }
        else
        {
            <form class="">

                <h1>委托方: </h1>

                <h1>检验方: <input type="text" id="name"/>
                </h1>
            </form>
        }
    }

    <h1 align="right">@ViewBag.time</h1>

    <div class="ui segment" align="center">
        <button id="agree" class="positive ui button" style="width: 25%">同意</button>
        <p>请看清以上内容，确认后无法修改！</p>
    </div>
</div>
<input id="checknum" style="display:none" value="@ViewBag.checknum" />

@section scripts{
    <script>
        $("#agree").click(function() {
            var r=confirm("请仔细查看合同，确定合同内容，签订后无法修改！");
            if (r==true) {
                var name = $("#name").val();
                var c = $("#checknum").val();
                if (name == "") {
                    alert("请先输入签名！");
                } else {
                    $.ajax({
                        url: '../DetectionScheme/CheckName',
                        type: 'post',
                        data: { name: name,tradeid:c },

                        error: function () {
                            alert('连接错误！');
                        },
                        success: function (data) {
                            if (data == 1) {
                                window.location = '/Trade/TradeDetail/@ViewBag.TradeId';
                            } else {
                                alert("签名错误，请重新输入！");
                            }

                        }
                    });
                }
               
            }
        });       
    </script>
}
