
@{
    ViewBag.Title = "CompactSign";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head{
    <style>
        .bigestdiv {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .title {
            font-size:20px;
            float: left;
        }

    </style>
}
<div class="bigestdiv">
    <h1 align="center">委托检测合同</h1>
    <h1>委托方:@ViewBag.FirstParty</h1>
    <h1>检验方:@ViewBag.SecondParty</h1>

    <p class="title">@Html.Raw(ViewBag.Content)</p>
    @{

        if (ViewBag.user == 1)
        {
            <form class="">

                <h1>委托方: <input/>
                </h1>

                <h1>检验方:</h1>
            </form>
        }
        else
        {
            <form class="">

                <h1>委托方: </h1>

                <h1>检验方: <input/>
                </h1>
            </form>
        }
    }

    <h1 align="right">@ViewBag.time</h1>

    <div class="ui segment" align="center">
        <button id="agree" class="positive ui button" style="width: 25%">同意</button>
        <p>如果同意以上内容请确定，不同意请填写更改意见后点击返回修改</p>
    </div>
</div>

@section scripts{
    <script>
        $("#agree").click(function() {
            var r=confirm("请仔细查看合同，确定合同内容，如果对方无异议则自动签订！");
            if (r==true)
            {
                alert("合同已确定！");
                //top.location = '../DetectionScheme/Sign?checknum=' + $("#checknum").val();
            }
        });

       
    </script>
}
