
@{
    ViewBag.Title = "GetBatchStatus";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="am-margin am-padding">
    <div class="ui segment">
        @ViewBag.Text
    </div>
</div>
