@{
    ViewBag.Title = "Trades";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<QualityControl.Models.Adapters.TradeInfo>
@using QualityControl.Db
<div class="container ui am-padding">
    @if (Model.Count != 0)
    {
        <table class="ui compact celled table">
            <thead>
            <tr>
                <th>合同号</th>
                <th>用户名</th>
                <th>用户邮箱</th>
                <th>申请时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Trade.Id</td>
                    <td>@item.User.UserName</td>
                    <td>@item.User.Email</td>
                    <td>@item.Trade.CeateTime.ToShortDateString()</td>
                    <td>
                        @{var s = item.Trade.Schemes.FirstOrDefault(e => e.Status != EnumDetectionSchemeStatus.修改完成留档保存&&e.Status!=EnumDetectionSchemeStatus.未发送);
                            if (s == null)
                            {
                                <a href="/DetectionScheme/BuildDetectionScheme?tradeId=@item.Trade.Id" class="ui button detail-btn">制作方案</a>
                            }
                            else if (s.Status == EnumDetectionSchemeStatus.修改中)
                            {
                                <a href="/DetectionScheme/BuildDetectionScheme?tradeId=@item.Trade.Id" class="ui button red">审查修改</a>
                            }
                            @*else if (s.Status == EnumDetectionSchemeStatus.已确定)
                            {
                                <a href="/MakeQrCode/Index?tradeId=@item.Trade.Id" class="ui button green">制二维码</a>
                            }*@
                            else
                            {
                                <a href="/DetectionScheme/SeeDetectionScheme?tradeId=@item.Trade.Id" class="ui button blue">查看方案</a>
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>

        </table>
    }

</div>