@{
    ViewBag.Title = "Choose";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section head{
    <style>
        .bigestdiv {
            margin-bottom: 50px;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 50px;
        }

        .title { float: left; }
    </style>
}
<div class="bigestdiv">
    <div class="ui blue inverted segment" align="center">
        <h1 class="ui  header ">产品选择成功，等待生产商信息反馈！</h1>
    </div>
</div>