@{
    ViewBag.Title = "用户中心";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="am-margin am-padding">
    <div class="ui container">
        <div class="row">
            <div class="column">
                <div class="ui message">
                    <h1 class="ui header">交易管理</h1>
                    <p></p>
                    <a href="/User/TradeList" class="ui blue button">查看订单列表</a>
                    <a href="/User/ChooseProduct" class="ui teal button">新建交易</a>
                </div>
            </div>
        </div>
    </div>
</div>