<style>
    select {
        float: left;
    }
</style>



<div class="field">
    <label>产品类别</label>
    <div class="ui mobile reversed equal width grid">
        <div class=" column">
            <select name=""  class="A @ViewBag.id">
                @{ Html.RenderAction("_Options", "Product", new {type = 1}); }
            </select>
        </div>
        <div class="column" >
            <select name=""  class="B @ViewBag.id">

            </select>
        </div>
        <div class="column">
            <select name="ProductTypeId" class="C @ViewBag.id" >

            </select>
        </div>
    </div>

</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script>


    get2();

    $(".A.@ViewBag.id").change(function() {
        var v1 = $(".A.@ViewBag.id").val();
        $.ajax({
            type: 'Get',
            url: '/Product/GetType',
            data: { fatherid: v1, type: 2 },

            success: function (data) {
                var l = data.length;
                var s = "";
                for (var i = 0; i < l; i++) {
                    s += "<option value=" + data[i].id + ">" + data[i].name + "</option>";
                }
                $(".B.@ViewBag.id").html(s);
                if (l == 0) {
                    $(".C.@ViewBag.id").html("");
                } else {
                    var v2 = $(".B.@ViewBag.id").val();
                    $.ajax({
                        type: 'Get',
                        url: '/Product/GetType',
                        data: { fatherid: v2, type: 3 },
                        success: function (data) {
                            var l = data.length;
                            var s = "";
                            for (var i = 0; i < l; i++) {
                                s += "<option value=" + data[i].id + ">" + data[i].name + "</option>";
                            }
                            $(".C.@ViewBag.id").html(s);

                        },
                        dataType: "json"
                    });
                }
            },
            dataType: "json"
        });
    });
    $(".B.@ViewBag.id").change(function () {
        var v2 = $(".B.@ViewBag.id").val();
        $.ajax({
            type: 'Get',
            url: '/Product/GetType',
            data: { fatherid: v2, type: 3 },
            success: function (data) {
                var l = data.length;
                var s = "";
                for (var i = 0; i < l; i++) {
                    s += "<option value=" + data[i].id + ">" + data[i].name + "</option>";
                }
                $(".C.@ViewBag.id").html(s);

            },
            dataType: "json"
        });
    });

    function get2() {
        var v1 = $(".A.@ViewBag.id").val();
        $.ajax({
            type: 'Get',
            url: '/Product/GetType',
            data: { fatherid: v1, type: 2 },

            success: function(data) {
                var l = data.length;
                var s = "";
                for (var i = 0; i < l; i++) {
                    s += "<option value=" + data[i].id + ">" + data[i].name + "</option>";
                }
                $(".B.@ViewBag.id").html(s);
                if (l == 0) {
                    $(".C.@ViewBag.id").html("");
                } else {
                    var v2 = $(".B.@ViewBag.id").val();
                    $.ajax({
                        type: 'Get',
                        url: '/Product/GetType',
                        data: { fatherid: v2, type: 3 },
                        success: function (data) {
                            var l = data.length;
                            var s = "";
                            for (var i = 0; i < l; i++) {
                                s += "<option value=" + data[i].id + ">" + data[i].name + "</option>";
                            }
                            $(".C.@ViewBag.id").html(s);

                        },
                        dataType: "json"
                    });
                }
            },
            dataType: "json"
        });
    }





</script>
