@using Microsoft.AspNet.Identity
@using QualityControl.Enum
@using QualityControl.Models
@{
    Layout = null;
}
@{
    var user = ViewBag.User as ApplicationUser;
    if (user == null)
    {
        var userId = User.Identity.GetUserId();
        user = Singleton.Self.Db.Users.Find(userId);
    }
}
<!-- header -->
<div class="ui borderless main menu">
    <div class="ui container">
        <div href="#" class="header item">
            <img class="logo" src="bower_components/semantic/examples/assets/images/logo.png">
            Project Name
        </div>
        @if (user.Type != (int) EnumUserType.Controller)
        {
            <a href="/User/TradeList" class="item">质量管控系统</a>
        }
        else
        {
            <a href="/Trade/Trades" class="item">质量检测</a>
        }
        @if (user.Type == (int) EnumUserType.User)
        {
            <a href="/User/ChooseProduct" class="item">新建质量检测</a>
        }
        <a href="#" class="ui right floated dropdown item">
            @user.UserName <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" onclick="location = '/account/logoff'">
                    注销
                </div>
            </div>
        </a>
    </div>
</div>
<!-- header end -->