@{
    Layout = null;
}

<div class="menu-aside am-fl">
    <div class="ui vertical text fluid accordion menu">
        <div class="item active">
            <a class="active title" href="#introduction"><i class="icon home"></i><b>Introduction</b></a>
        </div>
        <div class="item">
            <a class="title active"><i class="home icon"></i><b>Content</b></a>
            <div class="content menu active">
                <a class="item active" href="#headers">Headers</a>
                <a class="item" href="#page-font">Page Font</a>
                <a class="item" href="#text-selection">Text Selection</a>
                <a class="item" href="#spacing">Spacing</a>
                <a class="item" href="#links">Links</a>
            </div>
        </div>
        <div class="item">
            <a class="title"><i class="dropdown icon"></i><b>Variables</b></a>
            <div class="content menu">
                <a class="item" href="#brand-colors">Brand Colors</a><a class="item" href="#colors">Colors</a><a class="item" href="#border-styles">Border Styles</a><a class="item" href="#size">Size</a>
            </div>
        </div>
    </div>
</div>
