
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="am-margin-lg am-padding-lg ui center aligned container">
    <div class="am-padding-horizontal-lg">
        <div class="am-padding-horizontal-lg">
            <form class="ui form segment" method="post">
                <h2>产品信息</h2>
                <div class="two fields">
                    <div class="field">
                        <label>产品名称</label>
                        <input placeholder="产品名称" name="Name" type="text" value="@(Model != null ? Model.Name : "")">
                    </div>
                    <div class="field">
                        <label>产品类型</label>
                        <select class="ui search dropdown" name="type">
                            <option value="">请选择类型</option>
                            <option value="0">普通用户</option>
                            <option value="1">生产商</option>
                            <option value="2">检测中心</option>
                            <option value="3">控制中心</option>
                        </select>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>生产许可证</label>
                        <input placeholder="生产许可证" name="License" type="text" value="@(Model != null ? Model.License : "")">
                    </div>
                    <div class="field">
                        <label>产品条码</label>
                        <input placeholder="产品条码" type="text" name="OrganizationCode" value="@(Model != null ? Model.OrganizationCode : "")">
                    </div>
                </div>
               
                <div class="field">
                    <label>覆盖范围</label>
                    <textarea rows="2" name="LicenseScope" placeholder="覆盖范围">@(Model != null ? Model.LicenseScope : "")</textarea>
                </div>
                <div class="ui error message"></div>
                <div class="ui red cancel button">取消</div>
                <div class="ui blue submit button">保存</div>

            </form>
        </div>
    </div>

</div>

<script>
    $(function () {
        $('.ui.form').form({
            fields: {
                Name: {
                    identifier: 'Name',
                    rules: [
                      {
                          type: '请输入企业名称'
                      }
                    ]
                },
                Address: {
                    identifier: 'Address',
                    rules: [
                      {
                          type: '请输入企业地址'
                      }
                    ]
                },
                EstablishedTime: {
                    identifier: 'EstablishedTime',
                    rules: [
                      {
                          type: '请输入企业成立时间'
                      }
                    ]
                },
                License: {
                    identifier: 'License',
                    rules: [
                      {
                          type: '请输入营业执照号'
                      }
                    ]
                },
                CorporationName: {
                    identifier: 'CorporationName',
                    rules: [
                      {
                          type: '请输入法人姓名'
                      }
                    ]
                },
                CorporationIdentity: {
                    identifier: 'CorporationIdentity',
                    rules: [
                      {
                          type: '请输入法人身份证'
                      }
                    ]
                },
                OrganizationCode: {
                    identifier: 'OrganizationCode',
                    rules: [
                      {
                          type: '请输入组织机构代码'
                      }
                    ]
                },
                LicenseScope: {
                    identifier: 'LicenseScope',
                    rules: [
                      {
                          type: '请输入营业执照经营范围'
                      }
                    ]
                },

            }
        })
        ;
    });
</script>

