@{
    ViewBag.Title = "登录";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>


    <script src="~/Scripts/bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/bower_components/semantic/dist/semantic.min.css">
    <script src="~/Scripts/bower_components/semantic/dist/semantic.min.js"></script>

    <style type="text/css">
        body {
            background: url("/Image/photo0.jpg");
            background-size: 100% 100%;
        }

            body > .grid {
                height: 100%;
            }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
        .dl{
            font-family: 'Trebuchet MS', Helvetica, sans-serif;
            font-size:40px;
            color:white;
            position:relative;
            top:-30px;
        }
    </style>
    <script>
        $(document)
                .ready(function() {
                    $('.ui.form')
                            .form({
                                fields: {
                                    email: {
                                        identifier  : 'email',
                                        rules: [
                                            {
                                                type   : 'empty',
                                                prompt : '请输入你的邮箱'
                                            },
                                            {
                                                type   : 'email',
                                                prompt : '请输入正确的邮箱'
                                            }
                                        ]
                                    },
                                    password: {
                                        identifier  : 'password',
                                        rules: [
                                            {
                                                type   : 'empty',
                                                prompt : '请输入密码'
                                            },
                                            {
                                                type   : 'length[6]',
                                                prompt : '密码最少6位'
                                            }
                                        ]
                                    }
                                }
                            })
                    ;
                })
        ;
    </script>
    <style id="style-1-cropbar-clipper">
        /* Copyright 2014 Evernote Corporation. All rights reserved. */
        .en-markup-crop-options {
            top: 18px !important;
            left: 50% !important;
            margin-left: -100px !important;
            width: 200px !important;
            border: 2px rgba(255,255,255,.38) solid !important;
            border-radius: 4px !important;
        }

            .en-markup-crop-options div div:first-of-type {
                margin-left: 0px !important;
            }
    </style>
</head>
<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">

                <div class="content dl">
                    用户登录
                </div>
            </h2>
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">登录</div>
                </div>

                <div class="ui error message"></div>

            </form>

            <div class="ui message">
                还没有账号? <a href="#">注册</a>
            </div>
        </div>
    </div>
</body>
</html>
